#boardContainer {
    margin: auto;
    margin-top: 15%;
}

.rows {
    display: flex;
    justify-content: center;
}

.squares {
    width: 2vw;
    height: 4vh;
    border: 1px solid black;
    text-align: center;
}